@using CellopointAddin.Web.Startup
@{
    ViewBag.Title = L("Settings");
    ViewBag.CurrentPageName = PageNames.Settings;
}

    <h3>
        1.1Mail Archiver/SEG系統的 IP地址 (IPv4 / IPv6)<br />
        1.2开启/关闭功能，可选择是否要开启各项功能。例如可选择不开放垃圾信回报，或不开放下载信件等等。<br />
        1.3连线Timeout时间<br />
        1.4其他必要之设定<br />
    </h3>
